.header-bar-container{
    background-color: #fff;
    padding: 20px 0px;
    text-align: center;

    .header-bar-title{
        color: #1A2F63;
        font-weight: 600;
        font-size: 20px;
    }
}